<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column is-two-thirds">
        <h4 class="title is-5"><%= title %> : <%= Date::MONTHNAMES[previous_month.month] %> <%= previous_month.year %> </h4>
        <div class='tabs is-boxed is-medium'>
          <ul>
            <li class='tabs__item is-active'>
              <a>
                <span>Chart</span>
              </a>
            </li>
            <li class='tabs__item'>
              <a>
                <span>More Information</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="chart__body">
          <%= chart %>
        </div>
        <div class="info__body content" style="display: none">
          <%= chart_info %>
        </div>
      </div>
  </div>
</section>