<% provide(:title, "Power Emissions") %>
<section class="charts__header">
    <div class="container has-text-centered">
      <h3 class="title is-4"> Your electricity emissions in detail </h3>
    </div>
</section>

<% @daily_emissions_chart = capture do %>
    <%= line_chart line_data(@user_emissions, :trading_period, :user_emission), line_options %>
<% end %>

<% @daily_emissions_chart_info = capture do %>
  <p>
    This chart shows how emissions from
    your use of eletricity changes over a twenty four hour day.
    We assume that the amount of electricity that you use varies
    in the same way, more or less, as a typical household in Wellington.
  </p>
  <p>
    Emissions are typically high in the evening and morning. This is
    because most households use more electricity at this time and
    also because this is when the most emission intensive electricity
    if produced.
  </p>
<% end %>



<% @emissions_by_trader_chart = capture do %>
  <%= doughnut_chart doughnut_data(@trader_emissions, :trader, :emissions_factor), doughnut_options %>
<% end %>

<% @emissions_by_trader_chart_info = capture do %>
<p>
  This chart shows an estimate of the percentage of total emissions produced by the
  New Zealand electricity system for each electricity company
  for the stated month.
</p>
<% end %>



<section class="section">
  <div class="container">
    <div class="columns is-centered is-3 ">
      <%= render partial: "power_chart",
        locals: { title: "Typical electricity emissions over a day",
        chart: @daily_emissions_chart,
        chart_info: @daily_emissions_chart_info }
      %>
      <%= render partial: "power_chart",
        locals: { title: "Estimated emissions by electricity company",
        chart: @emissions_by_trader_chart,
        chart_info: @emissions_by_trader_chart_info }
      %>
    </div>
  </div>
</section>

<%= javascript_include_tag "power_emissions" %>