<section class='section'>
  <div class='container'>

    <div class='tabs is-centered is-boxed is-medium'>
      <ul>
        <li class='tabs__power is-active'>
          <a>
            <span class='icon is-small'><%= fa_icon 'bolt' %></i></span>
            <span>Power</span>
          </a>
        </li>
        <li class='tabs__gas'>
          <a>
            <span class='icon is-small'><%= fa_icon 'fire' %></i></span>
            <span>Natural Gas</span>
          </a>
        </li>
        <li>
          <a>
            <span class='icon is-small'><%= fa_icon 'car' %></i></span>
            <span>Car travel</span>
          </a>
        </li>
        <li>
          <a>
            <span class='icon is-small'><%= fa_icon 'plane' %></i></span>
            <span>Air plane travel</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class="columns is-centered">
      <div class="column is-two-fifths">
        <h4 class="title is-4">From your most recent power bill</h4>

        <%= form_tag('emissions/dashboard', method: 'get') do %>
          <div class='form__power'>
            <div class='field'>
              <label class="label">Bill start date</label>
              <div class="control">
                <%= text_field_tag(:start_date, value = nil, html_options = {class: 'datepicker input', placeholder: 'Enter your bill start date'}) %>
              </div>
              <div class="form__errmessage"></div>
            </div>
            <div class='field'>
              <label class="label">Bill end date</label>
              <div class="control">
                <%= text_field_tag(:end_date, value = nil, html_options = {class: 'datepicker input', placeholder: 'Enter your bill end date' }) %>
              </div>
              <div class="form__errmessage"></div>
            </div>
            <div class='field'>
              <%= label_tag(:user_energy, 'How much power did you use?', class: 'label') %>
              <div class="control">
                <%= text_field_tag(:user_energy, value=nil, type: 'number', class: 'input', placeholder: 'Enter your power in kWh') %>
              </div>
              <div class="form__errmessage"></div>
            </div>
            <div class='field'>
              <%= button_tag('Next', type: 'button', class: 'button is-link button__next--power') %>
            </div>
          </div>
          <div class='field'>
            <%= submit_tag('Calculate your emissions', class: 'button is-link button__submit') %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</section>



<%= javascript_include_tag "emissions" %>
