<section class='section'>
  <div class='container'>

    <div class='tabs is-centered is-boxed is-medium'>
      <ul>
        <li class='tabs__power is-active'>
          <a>
            <span class='icon is-small'><%= fa_icon 'bolt' %></span>
            <span>Power</span>
          </a>
        </li>
        <li class='tabs__gas'>
          <a>
            <span class='icon is-small'><%= fa_icon 'fire' %></span>
            <span>Natural Gas</span>
          </a>
        </li>
        <li class='tabs__car'>
          <a>
            <span class='icon is-small'><%= fa_icon 'car' %></span>
            <span>Car travel</span>
          </a>
        </li>
        <li class='tabs__plane'>
          <a>
            <span class='icon is-small'><%= fa_icon 'plane' %></span>
            <span>Air plane travel</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class="columns">
      <div class="column is-one-third">
        <ul>
          <li>
            <span class='icon is-small'><i class="fa fa-circle form-status__power--icon"></i></span>
            Power
          </li>
          <li>
            <span class='icon is-small'><i class="fa fa-circle form-status__gas--icon"></i></span>
            Natural gas
          </li>
          <li>
            <span class='icon is-small'><i class="fa fa-circle form-status__car--icon"></i></span>
            Car travel
          </li>
        </ul>
      </div>
      <div class="column is-6">
        <%= form_tag('emissions/dashboard', method: 'get') do %>
          <%= render 'emissions_form/power_form' %>
          <%= render 'emissions_form/gas_form' %>
          <%= render 'emissions_form/car_form' %>
          <%= render 'emissions_form/plane_form' %>
          <div class='field has-text-centered'>
            <%= submit_tag('Calculate your emissions',  disabled: true, class: 'button is-link is-rounded is-hidden button__submit') %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</section>

<%= javascript_include_tag "emissions" %>
