<section class='section'>
  <div class='container'>

    <div class='tabs is-centered is-boxed is-medium'>
      <ul>
        <li class='tabs__power is-active'>
          <a>
            <span class='icon is-small'><%= fa_icon 'bolt' %></i></span>
            <span>Power</span>
          </a>
        </li>
        <li class='tabs__gas'>
          <a>
            <span class='icon is-small'><%= fa_icon 'fire' %></i></span>
            <span>Natural Gas</span>
          </a>
        </li>
        <li>
          <a>
            <span class='icon is-small'><%= fa_icon 'car' %></i></span>
            <span>Car travel</span>
          </a>
        </li>
        <li>
          <a>
            <span class='icon is-small'><%= fa_icon 'plane' %></i></span>
            <span>Air plane travel</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class="columns is-centered">
      <div class="column is-two-fifths">

        <%= form_tag('emissions/dashboard', method: 'get') do %>
          <%= render 'emissions_form/power_form' %>
          <%= render 'emissions_form/gas_form' %>
          <div class='field'>
            <%= submit_tag('Calculate your emissions', class: 'button is-link button__submit') %>
          </div>
        <% end %>
      </div>
    </div>
 </div>
</section>



<%= javascript_include_tag "emissions" %>
